.card-post {
  overflow: hidden;
  height: 250px;
  width: 400px;
  background: white;
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  display: flex;
  flex-wrap: center;
}
.card-post a{
  text-decoration: none;
  color: #212529
}

.card-post img {
  height: 100%;
  width: 120px;
  object-fit: cover;
}

.card-body {
  width: 100%;
  height: 100%;
}

.btn-edit {
  border-radius: 3px !important;
}