.post-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.post-form-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.post-form-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
}

.post-form-cancel {
  width: 100%;
  background-color: rgb(169, 20, 9);
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  text-decoration: none;
  opacity: 0.8;
}

.post-form-submit:hover {
  opacity: 1;
}

.post-form-cancel:hover {
  opacity: 1;
}

.devise-form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.devise-input {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.devise-submit {
  width: 100%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
}

.devise-cancel {
  width: 100%;
  background-color: rgb(169, 20, 9) !important;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  opacity: 0.8;
  text-decoration: none;
}

.devise-submit:hover {
  opacity: 1;
}

.devise-cancel:hover {
  opacity: 1;
}